<html>
<title>
FloriParty -  NEVER ENDS
</title>
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="BootStrep/css/padrao.css">
</head>


<body>

<img src="img/roxo.jpg" width=100% height=25%></img>


<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Inicio</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="eventos.html">Eventos</a></li>
        <li><a href="contato.html">Contato</a></li>
		 <li><a href="localizacao.html">Localização</a></li>
        <li><a href="quemsomos.html">Quem somos</a></li>
		 
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Digite Aqui">
        </div>
        <button type="submit" class="btn btn-default">Pesquisar</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
      <h3><center>De a sua opnião</h3></center>
<table class="table table-bordered" width=120 height=500 align=center>
<th>
<form role="form">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite seu Email">
  </div>
  <div class="form-group">
    <label for="nome" >Nome</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Digite seu Nome">
  </div>
 
 
    <p class="help-block">Comentário/Critíca</p>
  
  
  <textarea class="form-control" rows="3"></textarea>
  <br>
  <div align="center">
  <button type="submit" class="btn btn-default">Enviar</button>
  </div >
</form>
</table>

<br>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>




<div>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="BootStrep/css/bootstrap.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="BootStrep/css/bootstrap-theme.css">
	
	
	<script src="jquery.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="BootStrep/js/bootstrap.js"></script>
</div>
</body>
</head>
</html>
